// Variables for the project

// Fonts

$headlineFont: 'Roboto Slab', serif;
$bodyFont: 'Helvetica Neue', Helvetica, Calibri, Arial, sans-serif;

// Colors

$backgroundColor: rgb(251, 252, 249);
$mainColor: #111;

$linkColor: rgb(224, 27, 106);

$headerColorBackground: $backgroundColor;
$headerColorHead: $linkColor;
$headerColorSubhead: $mainColor;

$tableBackgroundLight: #f6f6f6;
$tableBackgroundMid: #ddd;
$tableBorder: #ccc;
$tableBackgroundDark: #aaa;
